body {
    font-family: Arial, sans-serif;
    background: #deca7a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: rgb(169, 143, 143);
    padding: 20px;
    width: 260px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px gray;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

.buttons button {
    width: 45%;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
}
